@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* default theme */
    --color-text-base: #1f2937;
    --color-bg-base: #ffffff;
    --color-bg-base-tag: #f5f5f5;
    --color-bg-base-card: inherit;
    --color-bg-base-card-hover: #f5f5f5;
    --color-bg-base-sidebar-item-hover: #ebe9e9;
    --color-caret: #b4b4b4;
    --color-tilde: #137e8f; /* tilde color for commant prompt effect */

    /* dark theme */
    --color-text-dark: #e0e0e0;
    --color-bg-dark: #141414;
    --color-bg-dark-card: inherit;
    --color-bg-dark-card-hover: #172b29;
    --color-bg-dark-tag: #172b29;
    --color-bg-dark-sidebar-item-hover: #172b29;
    --color-border-base: #1f2937;
    --color-border-dark: #e0e0e0;
  }
  * {
    transition: all 0.1s linear;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1rem;
    line-height: 2.25rem;
  }
  code {
    @apply my-3 rounded-md;
    counter-reset: line;
  }
  code > .line::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }
}

@layer utilities {
  .content-visibility-auto {
    content-visibility: auto;
  }
}
